<template name="cardsetInfoBoxItemActiveLearners">
    {{#unless gotTranscriptBonusAndIsNotShuffled this._id}}
        <tr>
            <td>{{_ "cardset.info.workload.normal.count"}}:</td>
            <td>{{getActiveLearnerCount this}}</td>
        </tr>
    {{/unless}}
</template>
