<template name="helpContentENCategoryLeitner">
    <p>
        Die <b>5-Fächer-Lernmethode von Leitner</b> legt bereits gelernte Karten in bestimmten länger
        werdenden
        Abständen zum wiederholten Lernen vor.
        Nicht erinnerte Karten werden ins vorherige Fach zurückgelegt.
        Auf diese Weise werden schwierige Lernkarten häufiger wiederholt als einfache.
        Die Intervalle zwischen den Fächern betragen in der Regel: täglich (1→2), wöchentlich (2→3),
        monatlich (3→4) und vierteljährlich (4→5).
        Karten im letzten Fach gelten als dauerhaft gelernt.
    </p>
    <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Leitner_system.svg/800px-Leitner_system.svg.png"
       data-lightbox="img-1" data-title="Leitner-Lernmethode">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Leitner_system.svg/800px-Leitner_system.svg.png"
             alt="Leitner-Lernmethode" class="img-responsive center-block"/>
    </a>
    <p class="text-center">
        <a href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">
            &raquo;Lernkartei&laquo;</a> Zu Beginn sind alle Karten im Fach 1.
    </p>

</template>
